.header{
    height: 10em;
    padding: 5em;
    font-size: 2em;
    color: rgb(102, 186, 235);
    font-style: italic;
    background-image: url(../img/dogland.jpg);
    background-size: cover;
    background-position: center;

    }

.header h1{
    margin: 0px;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    .products {
        width: 80%;
        margin: auto;
        }
        .products td{
        width: 50%;
        padding: 2em;
        }
        .products img{
        width: 100%;
        border: solid 1px #ddd;
        }

        .footer{
            height: 3em;
            line-height: 3em;
            background-color: rgb(102, 186, 235);
            color: white;
            text-align: center;
            font-weight: 900;
            }